@{
    ViewData["Title"] = "QrCode Para Daltônicos";
}
<h2 class="text-3xl font-bold mb-6 text-center bg-gradient-to-r from-purple-500 to-pink-500 text-transparent bg-clip-text">
    Gerador de QR Code Para Daltônicos
</h2>
<div>Deseja guardar o quanto tempo você perdeu nisso?</div>
<form id="rankingForm" method="post">
    <input type="text" id="userName" name="userName" class="styled-input" placeholder="Digite seu nome" required maxlength="50" />
    <p id="name-error" class="error-message">Por favor, insira um nome válido.</p>
    <button id="add-to-ranking" type="submit" class="submit-button">Adicionar ao Ranking</button>
</form>
<div id="rankingMessage"></div>
<div class="canvas-container">
    <canvas id="qrcodeCanvas"></canvas>
    <canvas id="indicationCanvas"></canvas>
</div>
<div class="controls">
    <div class="option-palette">
        <button id="protanopiaColor" title="Dificuldade em distinguir entre vermelho e verde." class="option-button">Protanopia</button>
        <button id="deuteranopiaColor" title="Outro tipo de dificuldade em distinguir entre vermelho e verde." class="option-button active">Deuteranopia</button>
        <button id="tritanopiaColor" title="Dificuldade em distinguir entre azul e amarelo." class="option-button">Tritanopia</button>
    </div>
    <button id="generateQRCode" class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded">
        Gerar QR Code Para Daltônicos
    </button>
    <div id="timerDisplay">Tempo: 00:00</div>
</div>