<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <nav class="navbar">
                <a asp-controller="Home" asp-action="Index"><button type="button">Home</button></a>
                <a asp-controller="RankTable" asp-action="Index"><button type="button">Rank</button></a>
            </nav>
        </div>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer>
        <div class="container">
            <p>&copy; @DateTime.Now.Year CodeCon 2025 Joinville</p>
        </div>
    </footer>
    <script src="https://unpkg.com/qrcode-generator"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>